h1 {
      color: orange;
      background-color: slategray;
      font-size: 40px;
      text-decoration: line-through;
      font-family: calibri;
      text-align: center;
}

p {
      color: slategray;
      text-align: right;
      column-count: 2;
    }
